#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, #001308 0%, #040720 100%);
}

h1 {
  font-family: "Bigelow Rules", cursive;
  font-size: 60px;
  color: #0ccac4;
}
.category-title {
  font-family: "Bigelow Rules", cursive;
  font-size: 3rem;
  color: #0ccac4;
}
.center {
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.WarningTwoTone {
  font-size: 200%;
}

.searchBoxContainer {
  height: 6rem !important;
  width: 100% !important;
}
